.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 9;
}

header {
  width: 100%;
  background-color: var(--dark-blue);
  color: #fff;

  .header {
    width: 100%;
    height: 8rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo a h1 {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0.5rem + 2.5vw, 2.5rem);
    color: #fff;
    cursor: pointer;
    span {
      color: orangered;
    }
  }

  nav {
    width: 75%;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;

      .logo-mobile {
        display: none;
      }

      li {
        margin: 0 5px;
        a,
        button {
          font-family: inherit;
          cursor: pointer;
          color: #fff;
          &:hover {
            color: orangered;
          }
        }
      }
    }
  }

  .header-right ul {
    display: flex;
  }
  .cart-menu {
    position: relative;
  }
  .cart-menu_btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    position: relative;
    cursor: pointer;
    &:hover {
      color: orangered;
    }
    // &.active {
    //   color: var(--color-danger);
    // }
    p {
      position: absolute;
      top: -0.7rem;
      right: -0.7rem;
      font-weight: 500;
      color: #fff;
      margin: 0;
      line-height: 1;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: orangered;
    }
  }
  .cart-menu_menu {
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    padding: 1rem 0.5rem 0;
    height: 0;
    opacity: 0;
    transition: all 0.25s linear;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid white;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    li {
      display: grid;
      grid-template-columns: 1fr auto auto;
      gap: 1.5rem;
    }
    h3 {
      font-size: 1.25rem;
      margin: 0;
      width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    p {
      font-size: 1.125rem;
    }

    a {
      border: 2px solid orangered;
      background-color: orangered;
      border-radius: 4px;
      padding: 4px 16px;
      display: block;
      margin-block: 2rem 1rem;
      text-align: center;

      &:hover {
        background-color: #fff;
      }
    }

    // span {
    //   margin: 0 5px;

    //   p {
    //     color: #fff;
    //   }
    // }

    // .links a {
    //   margin: 0 5px;
    //   color: #fff;
    //   &:hover {
    //     color: orangered;
    //   }
    //   &.active {
    //     color: var(--color-danger);
    //   }
    // }
  }
  .show-cart-menu {
    height: auto;
    opacity: 1;
  }
  .mobile-menu-options {
    display: none;
  }
  .menu-icon {
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: 800px) {
    nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      background-color: var(--dark-blue);
      padding: 1rem;
      z-index: 999;
      transform: translateX(-200%);
      transition: all 0.3s;

      .nav-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateX();
        transition: all 0.3s;
      }

      .show-nav-wrapper {
        transform: translateX(100%);
      }

      ul {
        display: block;
        .logo-mobile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > * {
            cursor: pointer;
          }
        }
        li {
          padding: 5px 0;
          margin-left: 0;
          //border-bottom: 1px solid #333;
          a {
            display: block;
          }
        }
      }
      .cart-menu {
        display: none;
      }

      .header-right ul {
        display: block;
        .cart {
          // display: block;
          // padding: 5px 0;
          border-bottom: 1px solid #333;
          // a {
          //   position: relative;
          //   p {
          //     position: absolute;
          //     top: -1rem;
          //     left: 5rem;
          //     font-weight: 500;
          //   }
          // }
        }

        .links {
          display: block;
          a {
            display: block;
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid #333;
          }
        }
      }
    }
    .mobile-menu-options {
      display: flex;
      gap: 1.5rem;
    }
    .cart {
      display: block;
      padding: 5px 0;
      // border-bottom: 1px solid #333;
      a {
        color: #fff;
        position: relative;
        &:hover {
          color: orangered;
        }
        p {
          position: absolute;
          top: -1rem;
          left: 5rem;
          font-weight: 500;
          color: #fff;
        }
      }
    }
    .show-nav {
      transform: translateX(0);
    }
    .hide-nav {
      transform: translateX(-200%);
    }
    .menu-icon {
      display: flex;
      > * {
        margin-left: 2rem;
      }
    }
  }
}

.active {
  position: relative;
  color: orangered;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
